*, *::after, *::before {
  box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(238,235,235);
  overflow: hidden;
  
} */

/* .clock-edge {
  background-color:rgba(255, 0, 85, 0.485);
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 50px;
  height: 700px;
} */

/* .clock-face {
  width: 500px;
  height: 500px;
  background-color: rgba(102, 193, 230, 0.485);
  border-radius: 50%;
  border: 3px solid white;
  box-shadow:  -8px 8px 15px rgba(225,225,225,0.05),
       20px 20px 20px rgba(0,0,0,0.2),
       inset -8px -8px 15px rgba(225,225,225,0.05),
       inset 20px 20px 20px rgba(0,0,0,0.2);
  position: relative;
  /* transform: skewX(0deg); */
} */








